// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {

    .wrapper {
        flex-direction: column;
        max-width: 100%;
    }
    .sidebar-wrapper {
        width: 100%;
        min-height: auto;
    }

    .main-wrapper {
        width: 100%;
        padding: 24px 18px;
        text-align: left;
    }

    .main-wrapper .section {
        margin-bottom: 36px;
    }

    .main-wrapper .time {
        position: static;
        display: block;
        margin-top: 5px;
    }

    .main-wrapper .upper-row {
        margin-bottom: 0;
    }

    .experiences-section .item {
        padding-left: 10px;
    }

    .summary-section .summary {
        padding: 12px 15px;
    }

    .main-wrapper .projects-section .item {
        .project-title,
        .project-description,
        .project-roleblock {
            display: block;
        }

        .project-title .detail {
            display: block;

            .timetag {
                display: block;
                margin-top: 4px;
            }
        }

        .project-title .darken,
        .project-description .darken,
        .project-roleblock .darken {
            display: block;
            margin-bottom: 4px;
        }

        .project-roleline {
            margin-left: 1.1em;
        }
    }

    .languages-container,
    .interests-container {
        display: none;
    }

}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {


}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}



